@font-face {
  font-family: likestar;
  src: url(./fonts/Likestar-Regular.ttf);
}

@font-face {
  font-family: whisper;
  src: url(./fonts/Whisper-Regular.ttf);
}

@font-face {
  font-family: yanone;
  src: url(./fonts/YanoneKaffee-Medium.ttf);
}

@font-face {
  font-family: saira;
  src: url(./fonts/Saira-Font.ttf);
}

.roboto-font {
  font-family: Roboto;
}

.likestar-font {
  font-family: likestar;
}

.whisper-font {
  font-family: whisper;
}

.yanone-font {
  font-family: yanone;
}

.saira-font {
  font-family: saira;
}
